<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annonces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Annonces Immobilières</h1>
        <nav>
            <a href="{{ url_for('dashboard') }}">Retour au Tableau de Bord</a>
            <a href="{{ url_for('search') }}">Rechercher des annonces</a>
            <a href="{{ url_for('logout') }}">Se déconnecter</a>
        </nav>
    </header>
    <main>
        <ul>
            {% for annonce in annonces %}
                <li>
                    <h2>{{ annonce.title }}</h2>
                    <p><strong>Type:</strong> {{ annonce.type }}</p>
                    <p><strong>Prix :</strong> {{ annonce.price }}</p>
                    <p><strong>Localisation :</strong> {{ annonce.location }}</p>
                    <a href="{{ url_for('view_annonce', id=annonce.id) }}" target="_blank">Voir l'annonce</a>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Notre Plateforme Immobilière</p>
    </footer>
</body>
</html>
